
.featuredBox{
    /* border: 1px solid teal; */
    height: 150px;
    margin-top: 0.3rem;
    background: #fff;
    padding: 0.8rem;
}

.sliderBox{
    /* border: 1px solid red; */
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eachMatch{
    /* border: 1px solid; */
    padding: 10px;
    width: 23%;
    /* gap: 15px; */
}